/* Puedes borrar estos estilos y reemplazarlos por tus propios estilos */
h1 {
  text-align: center;
  color: var(--main-color);
  font-size: 3rem;
}

article {
  max-width: var(--max-width);
  margin-right: auto;
  margin-left: auto;
  border-radius: var(--border-radius);
  padding: var(--gap);
  padding-top: 0;
  background-color: color-mix(in srgb, var(--text-color), transparent 95%);
}

code {
  color: var(--main-color);
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
